/*
Theme Name: SuperPrime
Description: Estilos generales para el sitio web
Author: Carlos Rojas @guarrod
Web: www.guarrodesign.com.ve
Version: 1.0
*/


/*Estilos Generales*/

body{
font-family: 'Raleway', sans-serif;
}

.btn{
    border-radius: 2px;
}

a:hover{
	text-decoration: none;
}





@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?as5h1f');
  src:  url('../fonts/icomoon.eot?as5h1f#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?as5h1f') format('truetype'),
    url('../fonts/icomoon.woff?as5h1f') format('woff'),
    url('../fonts/icomoon.svg?as5h1f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bank:before {
  content: "\e902";
}
.icon-delivery:before {
  content: "\e900";
}
.icon-share:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e91b";
}
.icon-ver:before {
  content: "\e91a";
}
.icon-cart:before {
  content: "\e919";
}
.icon-credit-card:before {
  content: "\e90f";
}
.icon-help:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\1f313";
}











/*Header*/


header{
	background-color:#dc3e3d;
	padding: 2px 0px;
}

header .brand{
	width: auto;
	height: 40px;
}
header a{
	color: #faefef;
}

header a:hover{
    color: #fff;
}

header a span{
    padding-right: 3px;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
}

form label{
	color: #8a8a8a;
}


/*Mini Header*/

.miniHeader{}

.miniHeader ul li{
    border-right: 1px #df908f solid;
}

.miniHeader ul li:last-child{
    border-right: none;
}


/*Header*/

header.full{
    background-image: url("../images/headerFullBg.png");
    height: 200px;
    background-position: center bottom;

}

header.full a.brand img{
    width: auto;
    height: 100px;
    margin-top: 35px;
}

header.full #searchHeader{
    margin-top: 70px;
}



#custom-search-input {
        margin:0;
        margin-top: 70px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 13px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 50px;
        font-size: 20px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -40px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#9E9E9E;
        z-index: 111;
    }

    .search-query:focus + button {
        z-index: 3;
    }

    #custom-search-input .glyphicon {
        font-size: 22px;
    }

    .cartButton{
        margin-top: 70px;
        height: 50px;
        font-size: 17px;
        background-image: url("../images/cartButtonBg.png");
        background-position: -8px;
        background-repeat: no-repeat;
        line-height: 40px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 6px 49px -9px rgba(0,0,0,0.51);
        -moz-box-shadow: 0px 6px 49px -9px rgba(0,0,0,0.51);
        box-shadow: 0px 6px 49px -9px rgba(0,0,0,0.51);
        color: #a7a5a5;
    }

    .cartButton:hover{
        background-color: #f3f3f3;
    }

    .cartButton .icon-cart{
        font-size: 28px;
        top: 6px;
        position: relative;
        margin-right: 20px;
        margin-left: 2px;
        color: #d6100f;
    }



/*Global Menu*/

.globalMenu{
    background-color: #f5f5f5;
    /*margin-bottom: 30px;*/
}

.globalMenu ul{

}

.globalMenu ul li.rslides_here{
    background-color: #d6100f;

}

.globalMenu ul li.rslides_here a{
    color: #fff;

}


.globalMenu ul li a{
    font-size: 22px;
    font-weight: 500;
    color: #4e4e4e;
    border-radius: 0px;
    padding: 15px 0px;
}

.globalMenu ul li a:hover{
    background-color: #a2a2a2;
    color: #fff;
}



/*Home*/


.slider{
    margin-bottom: 50px;
    position: relative;
    float: left;
    width: 100%;

}


.rslides_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 69px;
    width: 41px;
    background-color: #0ff;
    background:url("../js/responsiveslider/nav.png") no-repeat left top;
    margin-top: -45px;
    margin-left: 30px;
}



.rslides_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
        margin-right: 30px;
}


.rslides_nav:active {
    opacity: 1.0;
}


.container.detailsCategory{
    padding-left: 50px;
    padding-right: 50px;
}
.detailsCategory{
    position: relative;
    top: -440px;
    margin-bottom: -440px;
}


.detailsCategory h1{
    font-size: 97px;
    color:#fff;
    text-shadow: 0px 0px 7px rgba(150, 150, 150, 1);
        margin-top: -11px;
}

.detailsCategory p{
    font-size: 25px;
    color:#fff;
}

.detailsCategory ul{
    list-style-type: none;
    text-align: right;
    margin-bottom: 50px;

}

.detailsCategory ul li{
    color: #fff;
    font-size: 25px;
}

.detailsCategory ul:after{
    clear: both;
}


.detailsCategory a.more{
    background-color: #d6100f;
    color: #fff;
    font-size: 30px;
    padding: 13px 35px;
}

.mask{

}

/*General*/

.contentArea{
    border-radius: 6px;
}





/*Register*/

.register .jumbotron{
	margin: 50px 300px;
    background-color: #f5f5f5;
}

.register .jumbotron h3{
    margin-top: 0px;
    padding-bottom: 6px;
    border-bottom: 2px #c7c7c7 solid;
    margin-bottom: 20px;
}

.register label span{

}

/*Login*/

.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:45px;
    margin-bottom: 20px;
}

.or
{
    color: #666;
    background-color: #f5f5f5;
    position: absolute;
    text-align: center;
    top: -9px;
    padding: 0px 5px;
    left: 48%;
    font-weight: 700;
}


.bfh-phone{
    padding: 6px 8px;
}



.bigIcon{
    font-size: 155px;
    margin-bottom: 15px;
}


/*Backend User*/

.user-head {
    margin-bottom: 24px;
}

.user-head .info{
    padding-left: 0;
}

.user-head .avatar img{
      border-radius: 6px;
}

.user-head .info h4{
    font-size: 17px;
    margin: 0px 0px 4px 0px;
}

.user-head .info a{
    font-size: 13px;
}

.backend-user{
	background-color: #f5f5f5;
	padding: 20px;
}

	.backend-user .container{
		background-color: #fff;
		border-radius: 2px;
	}

    .backend-user .container > .row{
        padding: 30px 15px;
    }

.backend-user ul.userMenu{
    padding: 0;
    list-style-type: none;
}

.backend-user ul.userMenu li{}

.backend-user ul.userMenu li a{
    color: #9e9e9e;
    display: block;
    background-color: #fbfbfb;
    padding: 5px 8px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.backend-user ul.userMenu li a:hover{
    background-color: #f5f5f5;
    padding-left: 12px;
}

.backend-user h1{
    margin: 0 0 30px 0;
    font-size: 22px;
    border-bottom: 2px #BDBDBD solid;
    padding-bottom: 5px;
    color: #757575;
}

.backend-user ul.userMenu li.active a{
    background-color: #cfd8dc;
    padding-left: 15px;
    color: #607D8B;
}

.backend-user h6{
    margin: 0 0 10px 0;
    font-size: 20px;
    background-color: #b2c1c7;
    padding: 10px;
    color: #fff;
}


/*Mis Compras*/

#misCompras{}

#misCompras form{
    margin-bottom: 20px;
}

#misCompras .results .item{
    border: 1px #ccc solid;
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: #fdfdfd;
}


#misCompras .results .item h2{
    font-size: 17px;
    margin: 10px 0px 20px 10px;
}

#misCompras .results .item h3{
    font-size: 12px;
    margin: 0 0 7px 0;
    color: #8a8a8a;
}

#misCompras .results .item .buyAgain{
    margin-bottom: 5px;
}

#misCompras .results .item span.label{
    font-weight: 300;
    margin-right: 5px;
}

#misCompras .results .item .total{
    font-size: 18px;
    color: #424242;
}

#misCompras .results .item .producto{
    font-size: 16px;
    color: #455A64;
}



    /*Cambiar Producto*/


    #cambiarProducto{
        margin-top: 15px;
    }

    #cambiarProducto legend{
        font-size: 16px;
        font-weight: 500;
    }

    #cambiarProducto .confirmacion{
        background-color: #fdfdfd;
        padding: 20px;
    }

    #cambiarProducto .confirmacion .glyphicon-warning-sign{
        font-size: 45px;
        color: #F44336;
        margin-top: 25px;
    }

    #cambiarProducto .confirmacion p{
        font-size: 13px;
    }




/*Mis Datos*/


.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    background-color: #f1f3f5;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #CFD8DC;
    /* border: 1px solid #ddd; */
    border-bottom-color: rgba(0, 0, 0, 0);
}

.tab-content .tab-pane > h4{
    margin: 15px 1px;
    color: #9E9E9E;
    background-color: #FAFAFA;
    padding: 10px;
    font-size: 15px;
}


/*Mis reservas*/

#misCompras .row.item .timeline{
    margin-top: 10px;
}

/*Mis Lista de deseos*/

.miLista{}

.miLista .row.item{
    padding: 10px 0;
}


/*Pago Banca*/

#bankPaiment{}


#bankPaiment form .radio label{
        padding-left: 0px;
}

#bankPaiment .panel-body .total{
    font-size: 23px;
    color: #F44336;
}

#bankPaiment .collapse .well{
    background-color: #fbfbfb;
    padding: 5px;
    margin-bottom: 0px;
}

#bankPaiment .collapse .well .col-lg-6{
        margin-bottom: 8px;
}

#bankPaiment .collapse .well .media{
    padding: 6px;
    background-color: #fff;
}

#bankPaiment .collapse .well .media h4{
    font-size: 15px;
}

#bankPaiment .collapse .well .media .precio{
        color: #F44336;
}


/*Pago TDC*/


.remodal-sm{
   /* max-width: 500px;*/
}

.remodal-sm .subTotal{
        border-top: 2px #abbdc5 solid;
}

.remodal-sm .total{
    color: #F44336;
}
/*Pago - Resumen*/

.resumen{

}


.resumen .content{
    background-color: #fdfcfc;
    padding: 10px;
}

.resumen .content .item{
    margin-bottom: 8px;
    padding-bottom: 2px;
}

.resumen h2{
    font-size: 16px;
    border-bottom: 1px #dedede solid;
    padding-bottom: 5px;
}

.resumen strong{
    font-weight: 500;
    color: #656565;
}

.resumen .total{
    font-size: 20px;
    font-weight: 500;
}


/*Compra Exitosa*/

#bankPaiment .green{
    background-color: #8BC34A;
}


.detalleCompra .row{
        margin-bottom: 5px;
}

.detalleCompra .row small{
    display: block;
}

.resumen .print{
        color: #000;
}

/*List Productos*/

#productsList{

}

#productsList .row{
    padding: 0px 30px;
    display: flex;
    display: -webkit-flex; /* Para navegadores webkit, como Safari */
}

.minijumbotron{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    margin-bottom: 30px;
    border-radius: 6px;
}

#productsList button.verDetalle{
    height: 30px;
    font-size: 13px;
    padding: 0px 10px;
    background-image: url("../images/cartButtonBg.png");
    background-position: -23px;
    background-repeat: no-repeat;
    line-height: 28px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.51);
    box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.51);
    color: #a7a5a5;
}

    #productsList button.verDetalle:hover{
        background-color: #f7f7f7;
    }

    #productsList button.verDetalle span{
        margin-right: 13px;
        font-size: 18px;
        line-height: 21px;
        position: relative;
        top: 3px;
    }

#productsList .thumbnail{
    background-color: #f3f3f3;
    border: 1px rgba(211, 215, 218, 0) solid;
    margin: 8px;
    display: inline-block;
}

    #productsList .thumbnail:hover{
        border: 1px #d3d7da solid;
        background-color: #ececec;
    }
#productsList .thumbnail.prime{
        background-color: #ff4e4d;
}

#productsList .thumbnail.prime a span.label{

    background-color: #ff4e4d;
    top: 8px;
    /*right: 244px;*/
    /*font-size: 16px;*/
    font-style: italic;
    float: right;
    position: absolute;
    padding-top: 7px;

}

#productsList .thumbnail.prime .caption p{
    color: #fff;
        border-bottom: 1px #e60f0f solid;
}

#productsList .thumbnail h3{
    color: #4c4c4c;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 5px 11px 5px;
    text-align: center;
    margin-top: 0px;
    font-weight: 600;
}
#productsList .thumbnail button{

}
#productsList .caption{
    text-align: center;
    padding-top: 0px;
}

#productsList .caption p{
    border-bottom: 1px #e4e4e4 solid;
    padding-bottom: 5px;
    font-weight: 500;
}

#productsList .row-flex{
    padding: 0px
}

/*Detalles de productos*/

#productsList .mg-targets .item .row{
    padding: 0px 7px;

}

.mg-targets .item h1{
    font-size: 40px;
    color: #4c4c4c;
    margin-top: 0px;
    margin-bottom: 4px;
}

.mg-targets .item p{
    font-size: 19px;
    color: #a2a2a2;
    margin-bottom: 0px;
}

.mg-targets .item h2{
    font-size: 40px;
    color: #85898c;
    margin: 0px;
    padding-bottom: 0px;

}


/*Product-Detail*/

.product-detail{}

.product-detail > .item{
    padding: 30px 0px;
}

.product-detail .item h3{
    border-bottom: 1px #c8c9c9 solid;
    color: #85898c;
    margin-top: 0px;
    padding-bottom: 5px;
}

.product-detail .item .dl-horizontal dt{
        width: 100px;
}

.colorOptions{
    margin: 0;
    padding: 0;
    list-style: none;
}

.colorOptions li{
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin: 2px 1px 0 0;
    background: #000;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

.colorOptions li.red{background:#ec7063}
.colorOptions li.green{background:#1abc9c}
.colorOptions li.blue{background:#3498db}
.colorOptions li.grey{background:#95a5a6}
.colorOptions li.orange{background:#f39c12}
.colorOptions li.yellow{background:#f1c40f}
.colorOptions li.pink{background:#af7ac5}
.colorOptions li.purple{background:#8677a7}
.colorOptions li.yellow{background:#ffc414}
.colorOptions li.aero{background:#9cc2cb}


.colorOptions li.active {
    filter: alpha(opacity=75);
    opacity: 1;
    border-bottom: 5px #000 solid;
}

.colorOptions li:hover{
       opacity: 1;
}

.product-detail .item .dl-horizontal dd {
    margin-left: 120px;
}

.product-detail #light-slider img{
    height: 120px;
}

.product-detail #light-slider li a{
    color: #607D8B;
    font-size: 17px;
}

.product-detail #light-slider li:hover{
    background-color: #f5f5f5;
}

.product-detail .relacionados{
    margin-bottom: 30px;
}


.product-detail .lSAction>a {
    top: 42%;
}







/*Estilos para el panel derecho de detalle de productos*/

.mg-targets .item .col-lg-6.right{
    padding-right: 30px;
}

.mg-targets .item .right .text-center .icon-cart{
    color: #e6150e;
}

#productsList .mg-targets .item .right .text-center button.buyNow{
    color:#fff;
    background-image: url("../images/buyNowBtnBg.jpg");
    background-position-x: -5px;
    height: 40px;
    font-size: 16px;
}


#productsList .mg-targets .item .right button.buyNow span {
    margin-right: 13px;
    font-size: 29px;
    line-height: 16px;
    position: relative;
    top: 8px;
}


#productsList .mg-targets .item .right .text-center button.addCart{
    color:#fff;
    background-image: url("../images/addCartBtnBg.jpg");
    background-position-x: -5px;
    height: 40px;
    font-size: 16px;
}


#productsList .mg-targets .item .right button.addCart span {
    margin-right: 13px;
    font-size: 29px;
    line-height: 16px;
    position: relative;
    top: 8px;
}

.carousel-control{
    color: #000;
}


.carousel-control.left{
    background: none;
}


.carousel-control.right{
    background: none;
}


.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
      left: 20%;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    right: 20%;
}


#productsList .mg-targets .item .right .line{
    border-bottom: 2px #c8c9c9 solid;
    margin: 12px 0px;
}

#productsList .mg-targets .item .right button.whislist{
    border: none;
    background-color: #f3f3f3;
}

    #productsList .mg-targets .item .right button.whislist span{
        color: #E91E63;
        font-size: 25px;
        position: relative;
        top: 5px;
        margin-right: 8px;
    }

#productsList .mg-targets .item .right button.share{
    border: none;
    background-color: #f3f3f3;
}

    #productsList .mg-targets .item .right button.share span{
        color: #4caf50;
        font-size: 25px;
        position: relative;
        top: 5px;
        margin-right: 8px;
    }

#productsList .mg-targets .item .lastBox{
    margin-bottom: 10px;
}


/*Carrito de compras*/

#cart{}


#cart h1{
    color: #757575;
    font-size: 25px;
    margin: 0px 15px 20px 15px;
    border-bottom: 2px #c7c7c7 solid;
    padding-bottom: 7px;
}

#cart table .checkOption{
    padding-top: 22px;
}

#cart table img{
    width: auto;
    height: 70px;
}

#cart table .options{
    padding-top: 25px;
}

#cart table h3{
    display: inline-block;
    font-size: 17px;
    margin-left: 8px;
}
#cart table strong{
        font-size: 20px;
    color: #6d6d6d;
}

#cart table img{
    border: 1px #e8e8e8 solid;
    padding: 5px;
    background-color: #fff;
}

#cart table tbody tr td:nth-child(3),#cart table tbody tr td:nth-child(4){
   /* padding-top: 31px;*/
    text-align: center;
}

#cart .alert{
    margin-top: 10px;
}

/*Cart Continue*/

.resumeAndPaidMethod{
    background-color: #fff;
    padding-bottom: 10px;
}

.resumeAndPaidMethod h4{
    margin-bottom: 20px;
    border-bottom: 1px #ccc solid;
    padding-bottom: 7px;
}

.resumeAndPaidMethod .left{}

.resumeAndPaidMethod .left p{
    padding-left: 5px;
    font-size: 16px;
    color: #4CAF50;
}

.resumeAndPaidMethod .left table.resume{
    width: 100%;
}

.resumeAndPaidMethod .left table.resume td{
    padding: 8px;
}

.resumeAndPaidMethod .left table.resume tr.iva{

}

.resumeAndPaidMethod .left table.resume tr.total{
    border-top: 1px #F44336 solid;
    background-color: #fff;
    font-size: 20px;
}

.resumeAndPaidMethod .right{}


.retirement{
    padding-top: 10px;
    background-color: #fff;
    margin-top: 7px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#cart .groupProducts .retirement .col-lg-6 {
    width: 50%;
}

.retirement .message{
    padding-left: 20px;
    color: #90A4AE;
}

.retirement .message span{
    font-size: 15px;
    font-weight: 500;
    color: #FF5722;
}

.retirement .message a{
    margin-left: 20px;
}

.retirement .message .msg2 i{
        font-size: 25px;
    padding-top: 8px;
    color: #F44336;
}

/*Group Products*/

#cart .groupProducts{
    border: 1px #f3f3f3 solid;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 8px;
}


#cart .groupProducts h1{
    color: #00BCD4;
    font-size: 17px;
    margin: 0px 0px 20px 0px;
    border-bottom: 2px #efefef solid;
    padding-bottom: 6px;
}

#cart .groupProducts .col-lg-6 {
    width: 48%;
}

#cart .groupProducts .item{
    margin: 4px;
    border: 1px #eee solid;
    border-radius: 3px;
}

#cart .groupProducts .item .row{

}

#cart .groupProducts .item .row .col-lg-4{
    padding-top: 4px;
}

#cart .groupProducts .item .details small{
    display: block;
}

#cart .groupProducts .item .details small.nombre{
    font-weight: 600;
    font-size: 14px;
    color: #607D8B;
}


#cart .groupProducts .item .details small.detalle{
    color: #607D8B;
    font-size: 13px;
}

#cart .groupProducts .item .details small.color{

}

    #cart .groupProducts .item .details small.color i.blue{
    color: #2196F3;
    }

    #cart .groupProducts .item .details small.color i.yellow{
     color: #ffeb3b;
    }

    #cart .groupProducts .item .details small.color i.brown{
    color: #795548;
    }

    #cart .groupProducts .item .details small.color i.black{
    color: #000;
    }

    #cart .groupProducts .item .details small.color i.green{
     color: #8bc34a;
    }

    #cart .groupProducts .item .details small.color i.gray{
    color: #9e9e9e;
    }

    #cart .groupProducts .item .details small.color i.red{
     color: #ff0057;
    }





#cart .groupProducts .item .details small.talla{

}

#cart .groupProducts .item .details small.precio{
    font-size: 15px;
    color: #F44336;
}

#cart .total{
    background-color: #fff;
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    border: 1px #f3f3f3 solid;
    font-size: 23px;
    color: #FF5722;
}







/*Aliados*/

.aliados{
    background-color: #eeeff0;
    padding-bottom: 50px;
    margin-bottom: -33px;
}

.aliados h1{
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 35px;
}

.aliados img{
    width: auto;
    height: 106px;
}

/*Footer*/

footer{
	background-color: #2a2b2f;
	padding-top: 33px;
    margin-top: 30px;
}

footer p, footer a{
	color: #dfdfdf;
	font-size: 13px;
	margin: 0px;
}

footer a:hover{
	color:#fff;
}


footer h1{
	color: #fff;
    font-size: 16px;
    font-weight: bold;
}

footer ul{
	padding: 0px;
	list-style: none;
	columns: 2;
	  -webkit-columns: 2;
	  -moz-columns: 2;
}

footer .fa{
    font-size: 25px;
    margin-right: 10px;
}

footer .creditsSector{
	background-color: #404144;
	padding: 5px;
    padding: 12px 0px;
    margin-top:35px;
}






/**
 * 11.0 Media Queries
 * -----------------------------------------------------------------------------
 */






/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones XS --------------------------------------------------------*/
    @media only screen and (min-width : 480px) {
        body{
            border-top: 3px #9C27B0  solid;
        }

    }

    /* Small Devices, Tablets Azul - SM -------------------------------------------------------------*/
    @media only screen and (min-width : 768px) {

        body{
            border-top: 3px #04a4cc solid;
        }

        /*Home*/

        .globalMenu ul li a {
            font-size: 16px;
            font-weight: 500;
            color: #4e4e4e;
            border-radius: 0px;
            padding: 15px 0px;
        }

        .container.detailsCategory {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 520px;
        }

        .detailsCategory h1 {
            font-size: 62px;
            color: #fff;
            text-shadow: 0px 0px 7px #969696;
            margin-top: -11px;
        }

        .detailsCategory ul li {
            color: #fff;
            font-size: 20px;
        }

        .detailsCategory p {
            font-size: 20px;
            color: #fff;
        }

        .detailsCategory a.more {
            background-color: #d6100f;
            color: #fff;
            font-size: 17px;
            padding: 13px 35px;
        }

        .aliados img {
            width: auto;
            height: 69px;
        }



    }

    /* Medium Devices, Desktops Verde - MD  ----------------------------------------------------------*/
    @media only screen and (min-width : 992px) {

        body{
            border-top: 3px #8BC34A solid;
        }

        /*Home*/

        .globalMenu ul li a {
            font-size: 18px;
            font-weight: 500;
            color: #4e4e4e;
            border-radius: 0px;
            padding: 15px 0px;
        }

        .container.detailsCategory {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 542px;

        }



        .detailsCategory h1 {
            font-size: 75px;
            color: #fff;
            text-shadow: 0px 0px 7px #969696;
            margin-top: -11px;
        }

        .detailsCategory p {
            font-size: 20px;
            color: #fff;
        }

        .detailsCategory ul li {
            color: #fff;
            font-size: 19px;
        }

        .detailsCategory a.more {
            background-color: #d6100f;
            color: #fff;
            font-size: 21px;
            padding: 13px 35px;
        }

        .aliados img {
            width: auto;
            height: 88px;
        }




        /*Product List*/

        .mg-target-open {
            position: absolute;
            top: 0;
            left: 51px;
            right: 83px;
            border-top: 3px #dbdbdb solid;
            border-bottom: 3px #dbdbdb solid;
            -moz-box-shadow: inset 0 8px 8px -8px #696868,
         inset 0 -8px 8px -8px #696868;
            -webkit-box-shadow: inset 0 8px 8px -8px #696868,
         inset 0 -8px 8px -8px #696868;
            box-shadow: inset 0 8px 8px -8px #696868,
         inset 0 -8px 8px -8px #696868;
        }

        .mg-targets .item h1 {
            font-size: 32px;
            color: #4c4c4c;
            margin-top: 0px;
            margin-bottom: 4px;
        }

        .mg-targets .item h2 {
            font-size: 32px;
            color: #85898c;
            margin: 0px;
            padding-bottom: 0px;
        }

        #productsList .mg-targets .item .right button.whislist {
            border: none;
            background-color: #f3f3f3;
            line-height: 2.428571;
            border: 2px #f3f3f3 solid;
            font-size: 12px;
            padding: 3px 2px;
        }

        #productsList .mg-targets .item .right button.whislist span {
            color: #E91E63;
            font-size: 18px;
            position: relative;
            top: 5px;
            margin-right: 8px;
        }

        #productsList .mg-targets .item .right button.share {
            border: none;
            background-color: #f3f3f3;
            line-height: 2.428571;
            border: 2px #f3f3f3 solid;
            font-size: 12px;
            padding: 3px 2px;
        }

        #productsList .mg-targets .item .right button.share span {
            color: #4caf50;
            font-size: 18px;
            position: relative;
            top: 5px;
            margin-right: 8px;
        }

        /*Product detail*/

        .mg-targets .item h1 {
            font-size: 29px;
            color: #4c4c4c;
            margin-top: 0px;
            margin-bottom: 4px;
        }


    }

    /* Large Devices, Wide Screens NEGRO - LG ----------------------------------------------------*/
    @media only screen and (min-width : 1200px) {
        body{
            border-top: 3px #E91E63   solid;
        }



    }

.img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: 190px;
}

#iprime {
    background-color: #ff4e4d;
    top: 8px;
    right: 244px;
    font-size: 16px;
    font-style: italic;
    /*float: right;*/
}

.video-responsive, .thumbnail a > video, .thumbnail > video {
    display: block;
    max-width: 100%;
    /*height: 190px;*/
}

.disNone{
    display:none;

}






