<span style='color: #000'>164 frames</span>	<span style='color: #900'>6,656 KB</span>	<span style='color: #090'>640.92 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />