<div id="carousel-example-generic-{{CodProd}}" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {{#imagenes}}
        <li data-target="#carousel-example-generic-{{CodProducto}}"  data-slide-to="{{fila}}" class="{{esPrimero fila}}"></li>
        {{/imagenes}}
        <!-- <li data-target="#carousel-example-generic-{{CodProd}}"  data-slide-to="<?php echo count($producto['ImagenesSelec'])+1;?>"></li>-->
 </ol>
 <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {{#imagenes}}
        <div class="item {{esPrimero fila}}">
            <img src="../../backend/images/fotos/{{CodProducto}}/{{CodColor}}/{{Ruta}}" class="img-responsive"/>
        </div>
        {{/imagenes}}
        <!--  <div class="item">
             <div align="center">
                 <video controls class="video-responsive">
                     <source src="../../backend/images/prueba.mp4"  type="video/mp4">
                 </video>
             </div>
         </div>-->

     </div>
     <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic-{{CodProd}}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic-{{CodProd}}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>