<tr class="row item odd" role="row" xmlns="http://www.w3.org/1999/html">
    <td class="row item sorting_1">
        <div class="col-lg-2">
            <img src="../../backend/images/fotos/{{CodProducto}}/{{CodColor}}/{{Imagen}}" width="100"/>
        </div>
        <div class="col-lg-7">
            <h3 class="producto">{{Nombre}}</h3>
            {{#if Modelo}}
            <h3>Modelo {{Modelo}}</h3>
            {{/if}}
            <h3>Precio: Bs <span id="id-precio-{{CodProducto}}">{{numberToMoneda Precio}}</span></h3>
            <h3 class="total">Total: Bs <span id="id-precio-total-{{CodProducto}}"> {{numberToMoneda Precio}}</span></h3>
        </div>
        <div class="col-lg-12 disNone"  id="botones-compra-{{CodProducto}}">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="s-talla-{{CodProducto}}">Talla</label>
                    <select data-CodProducto="{{CodProducto}}"   name="s-talla-{{CodProducto}}" id="s-talla-{{CodProducto}}" class="form-control select">
                        {{#each Talla}}
                            <option  value="{{CodTalla}}">{{DescTalla}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <input type="hidden" id="id-cantidad-{{CodProducto}}" name="id-cantidad-{{CodProducto}}" value=""/>
                    <label for="cantidad">Cantidad</label>
                    <input type="number" class="form-control" style="width: 60px;" id="cantidad-{{CodProducto}}" placeholder="-"/>
                    <input type="hidden" class="form-control" id="disponible-{{CodProducto}}" value="{{Cantidad}}"/>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <input type="hidden" id="colorselec-{{CodProducto}}" name="colorselec-{{CodProducto}}" value="{{CodColor}}"/>
                    <label for="cantidad">Color</label>
                    <ul class="colorOptions">
                        {{#each ColorDisp}}
                            <li style=" background: {{ColorPrinc}}; {{colorSeleccionado ../CodColor CodColor}} border:2px solid #a1a1a1;
                                {{#if ColorSec}}
                                    filter: alpha(opacity=75); opacity: 1; border-bottom: 10px {{ColorSec}} solid
                                {{/if}} " title="{{DescWeb}}"
                                data-CodProducto="{{../CodProducto}}"
                                data-CodColor="{{CodColor}}" class="{{DescColor}}"></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-lg-12" style="padding-top:10px">
                <a  class="btn btn-success acept" data-CodProducto="{{CodProducto}}"><span class="glyphicon glyphicon-ok"></span></a>
                <a  class="btn btn-danger  cancel" data-CodProducto="{{CodProducto}}"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div>
        <div class="col-lg-3 text-center" id="botones-princ-{{CodProducto}}">
            <a data-CodProducto="{{CodProducto}}"  class="btn btn-success btn-block btn-sm buyNow">
                <span class="icon-cart"></span> Comprar Ahora</a>
            <a  data-CodProducto="{{CodProducto}}" class="btn btn-warning btn-block btn-sm addCart">
            <span class="icon-cart"></span> Agregar al carrito</a>
            <a data-CodProducto="{{CodProducto}}" class="btn btn-danger btn-block btn-sm delFav" data-remodal-target="cancelar">
                <i class="fa fa-heart" aria-hidden="true"></i>
            Eliminar de la lista</a>
        </div>
    </td>
</tr>